$bgColor: #333;
$color: #fff;
$upper: uppercase;
$border: 1px solid #000;
$borderRadius: 50%;

body {
  .btn {
    background-color: $bgColor;
    color: $color;
    text-transform: $upper;
    border: $border;
    border-radius: $borderRadius;
  }
}